body {
  overflow: hidden;
}
.container-div{
  width: 100%;
  height: 100%;
}

.air-moving-up {
  width: 2px;
  height: 50px;
  background-color: black;
  position: absolute;
}

.hero {
  position: absolute;
  z-index: 100;
}
.hero #path2620 {
  fill: red !important;
}
.hero #path2622 {
  fill: red !important;
}

#eye {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
