body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.container-div{
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  transform-origin: 0 0;
  transition: transform 0;
  overflow: visible;
}
.container-div.many-people {
  transform: scale(0.1, 0.1) translate(700%, 700%);
  transition: transform 300ms;
}
.container-div.streams {
  transform: scale(0.2, 0.2) translate(350%, 350%);
  transition: transform 300ms;
}

.text-div{
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.text-div .sacred {
  font-size: 5vw;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  text-align: center;
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
}
.text-div .battle {
  font-size: 5vw;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  text-align: center;
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
}
.reasons li {
  margin-left: 150px;
  font-size: 5vw;
  color: white;
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
  line-height: 15vw;
}

.air-moving-up {
  width: 3px;
  height: 50px;
  background-color: black;
  position: absolute;
}

.person {
  position: absolute;
  z-index: 100;
}
.hero #path2620 {
  fill: lightgreen !important;
}
.hero #path2622 {
  fill: lightgreen !important;
}

#eye {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.transition::before {
  filter: blur(20px);
}

.transition {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 1000;
}
